* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
}

.container {
    margin: 10% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__apresentacao {
    width: 615px;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__apresentacao__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.container__apresentacao__titulo-destaque {
    color: #255F38;
}

.container__apresentacao__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.container__apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.container__apresentacao__links h2 {
    color: #f6f6f6;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.container__apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: baseline;
    border: 1px solid #255F38;
    border-top: 3px solid #255F38;
    border-bottom: 0px; 
    border-radius: 8px;
    width: 381px;
    padding: 21.5px 0px;
    text-align: center;
    font-size: 24px;
    font-family: 'Monstserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #f6f6f6;
}

.container__apresentacao__links__link:hover {
    background-color: #2f2f2f;
    padding: 4%;
}

.foto__perfil {
    height: 540px;
    width: 550px;
    border-radius: 20px;
}

.rodape {
    color: black;
    background-color: #255F38;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}