:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #255F38;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.cabecalho {
    padding: 2% 0% 0% 16%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.container {
    margin: 5.3% 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__apresentacao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__apresentacao__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.container__apresentacao__titulo-destaque {
    color: var(--cor-terciaria);
}

.container__apresentacao__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.container__apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.container__apresentacao__links h2 {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.container__apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: baseline;
    border: 1px solid var(--cor-terciaria);
    border-top: 3px solid var(--cor-terciaria);
    border-bottom: 0px; 
    border-radius: 8px;
    width: 381px;
    padding: 21.5px 0px;
    text-align: center;
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.container__apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    padding: 3.5%;
}

.foto__perfil {
    height: 540px;
    width: 550px;
    border-radius: 20px;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}